.modal_image {
  border-radius: 10px;
}

.image_upload_button {
  border-radius: 5px;
  background-color: rgb(100, 136, 255);
  color: white;
  padding: 5px 10px;
  user-select: none;
}

.image_upload_button:hover {
  box-shadow: none;
  transition-duration: 0.2s;
  transform: translateY(1.5px);
}

.modal_tag {
  border-radius: 7px;
  border: 1px solid;
  border-color: #799cff;
  padding: 0px 7px;
  margin: 2px 2px;
  height: fit-content;
  user-select: none;
}

.modal_taglist_style {
  margin: 10px;
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.modal_taglist_style::-webkit-scrollbar {
  display: none;
}

.tag_add_button {
  width: 50px;
  border: 1px solid;
  border-color: white;
  border-radius: 7px;
  background-color: rgb(167, 167, 167);
  color: white;
}

.tag_add_button:hover {
  background-color: rgb(111, 111, 111);
}

.selectedStyle {
  cursor: pointer;
  color: white;
  background-color: rgb(136, 167, 255);
}

.defaultStyle {
  cursor: pointer;
  color: rgb(87, 132, 255);
  font-weight: 400;
}

.modal_search_taglist_style {
  margin: 10px;
  width: 90vw;
  max-width: 500px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search_button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  background-color: gray;
  color: white;
  padding: 3px 10px;
}
